@model BlockUserViewModel
@{
    ViewData["Title"] = "Block";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>İstifadəçi adı</th>
                                    <th>Email</th>
                                    <th>Rol</th>
                                    <th>Əməliyyatlar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.UserName</td>
                                    <td>@Model.Email</td>
                                    <td>@Model.Role</td>
                                    <td>
                                        @if (!Model.isBlock)
                                        {
                                        <form method="post" asp-area="Admin" asp-controller="User" asp-action="UnBlock">
                                            <button class="btn btn-danger" type="submit">Unblock</button>
                                        </form>
                                        }
                                        else
                                        {
                                        <form method="post" asp-area="Admin" asp-controller="User" asp-action="Block">
                                            <button class="btn btn-danger" type="submit">Block</button>
                                        </form>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

